input.m-input{
    border: 1px solid #bbb;
    border-radius: 4px;
    height: 40px;
    padding: 0 16px;
    outline: none;
    white-space: nowrap;
}

.m-input::placeholder{
    font-size: 11px;
    color: rgb(255, 64, 64);
}

.m-input:focus{
    border-color: #019160;
}

.m-input.input-error{
    border-color: #FF4747;
    margin-left: 10px;
}

input.m-input-Search{
    background-image: url('../../content/icon/search.png');
    background-repeat: no-repeat;
    background-position: 16px center;
    background-size: 16px 16px;
    padding-left: 40px;
}

input.m-input-Search::placeholder{
    font-size: 12px;
}