table.m-table{
    border-spacing: unset;
    border: unset;
    border-collapse: collapse;
}

table.m-table tr{
    height: 40px;
    border-bottom: 1px solid #ddd;
}

table.m-table td,th{
    padding-left: 10px;
    padding-right: 8px;
    border: none;
}

table.m-table tbody tr:nth-child(2n-1)
{
    background-color: #e9ebee;
}

table.m-table tbody tr:hover
{
    background-color: grey;
}

